# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Large model files
weights/pytorch_model.bin
results/finetuned_model.pth

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# Logs
*.log
